@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #126CFC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0078D7; /* 18, 108, 252 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  @apply text-xl font-medium decoration-2 hover:underline hover:underline-offset-4;
}

.link:hover {
  text-decoration-color: var(--primary);
}

.headline1 {
  @apply text-4xl md:text-6xl lg:text-8xl font-medium tracking-wide my-4;
}

.headline2 {
  @apply text-xl md:text-2xl lg:text-4xl font-medium tracking-wide;
}

.headline3 {
  @apply text-lg text-gray-500;
}

.page-header {
  @apply md:flex items-start gap-x-8;
}

.page-icon-header {
  @apply flex justify-center items-center text-3xl md:text-5xl h-16 md:h-32 w-16 md:w-32 rounded-xl mb-4 md:mb-0;
}

.page-title {
  @apply text-xl font-semibold mb-4 md:mb-8;
}

.page-header-title {
  @apply text-4xl md:text-6xl;
}

.section-header {
  @apply text-3xl md:text-6xl pb-8 md:pb-16;
}

.section-block-title {
  @apply text-lg font-semibold mb-2 md:mb-4;
}
